input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
}
.searchbox button {

    padding: 8px;
    margin-top: 10px;
    margin-left: 10px;
    background: orange;
    font-size: 20px;
    cursor: pointer;
}
.searchbox button:hover {
    background: blue;
}  